<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Chat app</title>
    <style>
        #container {
          width: 700px;
          margin: 0 auto;
        }
        .chat-input {
          width: 300px;
          height: 35px;
          border: solid 1px #444;
        }
        .chat-submit {
          width: 50px;
          height: 35px;
          border: solid 1px #444;
        }
        .chat-window {
          height: 400px;
          width: 500px;
          /* overflow-y: scroll; */
          overflow-y:scroll;

        }
        #chatSection {
          float: left;
          border: 1px grey solid;
          border-radius: 10px;
          padding: 10px;
        }
        .text{
          padding: 0;
          margin: 0;
        }
        .msg-box{
          border: 2px solid gray;
          font-family: "Sofia", sans-serif;
          border-radius: 0.7rem;
          overflow-wrap: break-word;
          padding: 0.4rem; 
          margin: 0.2rem;
        }
       
      </style>

  </head>
  <body>
    <div id="container">
      <h1>
        Nodejs + Socket Chat app
      </h1>
      <div style="display: block; align-content: center;">
        <h2>Channel:<span id="ch_name"></span> &emsp;
          NickName:<span id="nick_name"></span>&emsp;&emsp;
          <a href="/leaveChannel">Leave Chat</a></h2>
      </div>
      <div id="chatSection">
        <p id="token" style="display:none;"><%= token %></p>
        <div class="chat-window"></div>
        <form class="chat-form">
          <label class="chat-label">
            Enter a message:
            <input type="text" class="chat-input" />
          </label>
          <input type="submit" class="chat-submit" value="enter" />
        </form>
      </div>
    </div>
    
    <template id="tmp">
      <div class="msg-box">
        <p class="text" style="font-family: 'Courier New', Courier, monospace; color: green;"><b></b></p>
        <p class="text" style="font-size: larger;"></p>
      </div>
    </template>

    <!-- Load dependencies -->
    <script src="js/bigint.js"></script>
    <script src="js/crypto.js"></script>
    <script src="js/eventemitter.js"></script>

    <!-- Load otr.js or otr.min.js -->
    <script src="js/otr.min.js"></script>

    <!-- javascript code -->
    <script src="js/script.js"></script>
  </body>
</html>

